# Web UI base URLs (cart/storefront flow)
BASE_UI_URL=https://sauce-demo.myshopify.com
# Web UI auth URLs (login & role-access flow)
AUTH_UI_URL=https://www.saucedemo.com
REST_API_URL=https://reqres.in/api
REST_API_AUTH_URL=https://dummyjson.com
REST_API_KEY=<your-reqres-api-key>
GRAPHQL_URL=https://countries.trevorblades.com
ENV=dev
HEADLESS=true